<div class="row">
 
  <!-- Side Bar -->
 
        <div class="four mobile-four columns">
 
          <img src="http://placehold.it/500x500&text=Logo">
 
          <div class="hide-for-small panel">
            <h3>Automation</h3>
            <h5 class="subheader">Office Automation Division of Indian Institute of Technology Jodhpur
            </h5>
          </div>
 
          <a href="#">
          <div class="panel callout radius" align="center">
            <h6>99&nbsp; new notification</h6>
          </div>
          </a>
 
        </div>
 
    <!-- End Side Bar -->
 
 
    <!-- Thumbnails -->
 
        <div class="eight columns">
          <div class="row">
 
            <div class="four mobile-two columns">
              <div class="panel">
                <h5><%= link_to "Leave Application", leave_path %></h5>
              </div>
            </div>
 
            <div class="four mobile-two columns">
              <div class="panel">
                <h5><%= link_to "Leave Approval Academic", leaveApproval_path %></h5>
              </div>
            </div>
 
            <div class="four mobile-two columns">
              <div class="panel">
                <h5><%= link_to "Leave Approval Warden", leaveApprovalWarden_path %></h5>
              </div>
            </div>
 
            <div class="four mobile-two columns">
              <div class="panel">
                <h5><%= link_to "View Leave", viewleave_path %></h5>
              </div>
            </div>
 
            <div class="four mobile-two columns">
              <div class="panel">
                <h5>Item Name</h5>
              </div>
            </div>
 
            <div class="four mobile-two columns">
              <div class="panel">
                <h5>Item Name</h5>
              </div>
            </div>
 
    <!-- End Thumbnails -->