<div class="row">
 
  <!-- Side Bar -->
 
        <div class="four mobile-four columns">
 
          <img src="http://placehold.it/500x500&text=Logo">
 
          <div class="hide-for-small panel">
            <h3>Header</h3>
            <h5 class="subheader">Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis.
            </h5>
          </div>
 
          <a href="#">
          <div class="panel callout radius" align="center">
            <h6>99&nbsp; items in your cart</h6>
          </div>
          </a>
 
        </div>
 
    <!-- End Side Bar -->
 
 
    <!-- Thumbnails -->
 
        <div class="eight columns">
          <div class="row">
 
            <div class="four mobile-two columns">
              <img src="http://placehold.it/1000x1000&text=Thumbnail">
 
              <div class="panel">
                <h5>Leave Application</h5>
                <h6 class="subheader">$000.00</h6>
              </div>
            </div>
 
            <div class="four mobile-two columns">
              <img src="http://placehold.it/500x500&text=Thumbnail">
 
              <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
              </div>
            </div>
 
            <div class="four mobile-two columns">
              <img src="http://placehold.it/500x500&text=Thumbnail">
 
              <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
              </div>
            </div>
 
            <div class="four mobile-two columns">
              <img src="http://placehold.it/500x500&text=Thumbnail">
 
              <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
              </div>
            </div>
 
            <div class="four mobile-two columns">
              <img src="http://placehold.it/500x500&text=Thumbnail">
 
              <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
              </div>
            </div>
 
            <div class="four mobile-two columns">
              <img src="http://placehold.it/500x500&text=Thumbnail">
 
              <div class="panel">
                <h5>Item Name</h5>
                <h6 class="subheader">$000.00</h6>
              </div>
            </div>
 
    <!-- End Thumbnails -->