<center>
	
	<h4>You have successfully applied to Leave!</h4>
	<%= link_to "Apply for another Leave", leave_path %><br>
	<%= link_to "Show your leave status", viewleave_path(:reg_no => params[:reg_no])%>
	
</center>
