<center>
	
	<h1>Listing Notifications</h1>
	
	<table border="1">
		
		<tr>
			<th>Message Recieved From</th>
			<th>Message Type</th>
			<th>Subject</th>
			<th>Priority</th>
		</tr>
		
		<% @allNotification.each do |note| %>
		<tr>
			
			<td><%= note.sent_from %></td>
			<td><%= note.msg_ype %></td>
			<td><%= link_to note.subject, showNotification_path(:id => note.id) %></td>
			<td><%= note.priority %></td>
			
		</tr>
		
		<% end %>
		
	</table>
	
</center>
