<%= form_for(@hostel_leafe) do |f| %>
  <% if @hostel_leafe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hostel_leafe.errors.count, "error") %> prohibited this hostel_leafe from being saved:</h2>

      <ul>
      <% @hostel_leafe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
